<header>


    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3> <i class="fa fa-user" style="color: black;font-size:40px"></i> Hi TUTOR </h3>
            </div>

            <ul class="aside list-unstyled components">

                  <li>
                    <a href="/tutor/tutor-home/profile">Profile</a>
                   
                   
                </li>
                <li>
                    <a href="/tutor/tutor-home/students">Students</a>
                </li>
                
                <li>
                    <a href='/tutor/tutor-home/assignment'>Assignment</a>
                </li>
                <li>
                    <a href="/tutor/tutor-home/notes">Notes</a>
                </li>
                <li>
                    <a href="/tutor/tutor-home/announcement">Announcement</a>
                </li>
                <li>
                    <a href="/tutor/tutor-home/attendance">Attendance</a>
                </li>
                <li>
                    <a href="/tutor/tutor-home/events">Event</a>
                </li>
                <li>
                    <a href="/tutor/tutor-home/photo">Photo</a>
                </li>
            </ul>


        </nav>

        <!-- Page Content Holder -->
        <div id="content">


            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class=" nav navbar-nav ml-auto ">
                            {{#if user}}
                            <li class="link nav-item active">
                                <a class="nav-link btn btn-outline-danger rounded-pill border border-danger"
                                    href="/tutor/logout" style="color: black;font-size:20px"
                                    onclick="return confirm('{{user.name}}!!!! are you sure want to logout ')">Logout</a>

                                {{/if}}
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>



            <section>


                <div class="container mt-0 ">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="text-center"> Edit Profile</h2>
                            <form action="/tutor/tutor-home/profile/edit-profile/{{profile._id}}" method="POST" enctype="multipart/form-data">
                                <label for="">Name</label>
                                <input type="text" class="form-control" name="Name" value="{{profile.Name}}">
                               <label for="">Gender::</label>
                                <input type="radio" id="male" name="Gender" value="male">
                                <label for="male">Male</label>
                                <input type="radio" id="female" name="Gender" value="female">
                                <label for="female">Female</label>
                                
                                <br>
                                <label for="">Job</label>
                                <input type="text" class="form-control" name="Job" value="{{profile.Job}}">

                                <label for="">Class</label>
                                <input type="text" class="form-control" name="Class" value="{{profile.Class}}">

                                <label for="">Address</label>
                                <input type="text" class="form-control" name="Address" value="{{profile.Address}}">
                                <label for="">Mob</label>
                                <input type="text" class="form-control" name="Mob" value="{{profile.Mob}}">
                                <label for="">Email</label>
                                <input type="text" class="form-control" name="Email" value="{{profile.Email}}">

                                 <label for="">Image</label>
                     <img src="/tutor-imags/{{profile._id}}.jpg" alt="" srcset="" style="width: 100px;height:auto" id="imgView">
                     <input type="file" class="form-control" name="Image" onchange="viewImage(event)" >


                                <button type="submit" class="btn btn-success mt-5">Submit</button>


                            </form>
                        </div>
                    </div>
                </div>


            </section>
            <script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>



        </div>
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
</header>

<style>
    section {
        background-repeat: no-repeat;
    }
</style>