



<header>


    <div class="wrapper"  >
        <!-- Sidebar Holder -->
        <nav id="sidebar"  > 
            <div class="sidebar-header" >
                <h3>  <i class="fa fa-user" style="color: black;font-size:40px"></i> Hi TUTOR  </h3>
            </div>

            <ul class="aside list-unstyled components">
               
                <li>
                    <a href="/tutor/tutor-home/profile">Profile</a>
                   
                   
                </li>
                <li>
                    <a href="#">Students</a>
                </li>
                <li>
                    <a href="#">Attendance</a>
                </li>
                <li>
                    <a href="#">Assignments</a>
                </li>
                <li>
                    <a href="#">Notes</a>
                </li>
                <li>
                    <a href="#">Announcement</a>
                </li>
                <li>
                    <a href="#">Event</a>
                </li>
                <li>
                    <a href="#">Photo</a>
                </li>
            </ul>

            
        </nav>

        <!-- Page Content Holder -->
        <div id="content" >
            

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                   

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class=" nav navbar-nav ml-auto ">
                              {{#if user}}
                            <li class="link nav-item active">
                                <a class="nav-link btn btn-outline-danger rounded-pill border border-danger" href="/tutor/logout" style="color: black;font-size:20px"  onclick="return confirm('{{user.name}}!!!! are you sure want to logout ')">Logout</a>
                               
                            {{/if}}
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

     
      
<section>

===============
{{!-- {{#each students}} --}}
<h1>profile of {{students.Name}}</h1>
<p>Name:{{students.Name}}</p>
<p>Gender:{{students.Gender}}</p>
<p>ROLLNO:{{students.Rollno}}</p>
<p>Date Of Birth:{{students.DOB}}</p>
<p>MOB:{{students.Phone}}</p>
<p>Email:{{students.Email}}</p>

{{!-- {{/each }} --}}
 
</section>
<section>
   Student Submitted assignment
   <table class="table">
     
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Topis</th>
      <th scope="col">File</th>
     
    </tr>
  </thead>
  <tbody>
       {{#each subassignment}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.Topic}}</td>
      <td><a style="color: blue;" href="/assignment/{{this._id}}.pdf" >{{this.Topic}}_.pdf(download)</a></td>
    {{!-- <td> <a href="/tutor/delete-Submitassignment/{{this._id}}" class="btn btn-danger " onclick="return confirm('are you sure want to delete')">Delete</a></td>   --}}
    </tr>
   {{/each }}
  </tbody>
</table>


</section>
       
        </div>
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
    </header>

<style>
   table.paleBlueRows {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 1000px;
  height:900px;
  text-align: center;
  border-collapse: collapse;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.paleBlueRows tbody td {
  font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
  background: #D0E4F5;
}
table.paleBlueRows thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}
</style>

